$red: red;
$grey: #ccc;
$darkGreyAlpha: rgba(0,0,0,.85);
$autocompleteHighlight: #CAFFBF;

$green: #62B343;

$blue: #0772A1;
$blueShade: #225E79;
$blueDeep: #024A68;
$blueAccent: #3BA3D0;
$blueTint: #579AB8;

$orange: #FF960D;
$orangeShade: #BF7C30;
$orangeDeep: #A65800;
$orangeAccent: #FFA540;
$orangeTint: #FFBD73;