@mixin clearfix{
    
}

@mixin unstyled {
    margin: 0;
    padding: 0;
    
    li { 
        list-style: none;
    }
}

$viewport-width: false !default;
 
@mixin respond-min($width) {
    @if $viewport-width {
        @if $viewport-width >= $width {
            @content;    
        }
    }
    @else {
        @media screen and (min-width: $width) {
            @content;
        }
    }
}
@mixin respond-max($width) {
    @if $viewport-width {
        @if $viewport-width <= $width {
            @content;    
        }
    }
    @else {
        @media screen and (max-width: $width) {
            @content;
        }
    }
}

@mixin theme($name, $themeBase, $themeTint, $themeAccent, $themeShade, $themeDeep){
    #widget.#{$name}{
        color: $themeDeep;
        
        header,
        .thermometer-wrap {
            background: $themeTint;
        }
        #signature-info {
            color: $themeBase;
            background: $themeShade;
        }
        
        .thermometer {
            background: $themeAccent;
        }
        .progress {
            background-color: $themeDeep;
        }
        
        button,
        .button a {
                background: $themeTint;
                color: $themeDeep;
                @include background-image(linear-gradient(top, lighten($themeTint, 10) 0%, $themeTint 100%));
            }
    }
}