
@import "compass/css3";
body {
    background: url(/img/lightpaperfibers.png) left top repeat;
    margin: 0;
    padding-top: 1px;
}
#spinner {
  background: $darkGreyAlpha;
  border-radius: 10px;
  color: white;
  display: none;
  left: 50%;
  margin: 30px 0 0 -150px;
  position: absolute;
  padding: 50px;
  text-align: center;
  width: 300px;
}
label,
input {
    display: block;
    margin: 10px 0;
}
.theme-selector {
    input {
        display: inline;
        width: auto;
    }
}
input {
    @include border-radius(3px);
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
}
.step {
    background: #fff;
    border: 1px solid #ccc;
    margin: 2em 0;
    padding: 0 2% 1em;
}
textarea {
    width: 100%;
}

.typeahead {
    @include unstyled;
    border: 1px solid shade($autocompleteHighlight, 20);
    li {
        line-height: 1.4;
        padding: .2em .3em;
        &.active {
            background: lighten($orangeTint, 10);
        }
        a {
            color: $blue;
            font-weight: normal;
        }
        
    }
}