@import "compass";
@import "compass/css3";
@import "compass/css3/images";

.thermometer-wrap {
    padding: 2.6em 0;
    position: relative;
    
}
#signature-count {
//    left: 0;
    position: absolute;
    top: 0;
}
#signature-count-number {
    
}
#signature-threshold {
    position: absolute;
    right: 0;
    bottom: 0;
}

.thermometer {
    width: 100%;
    height: 20px;
    background: $grey;
    @include border-radius(10px);
    background-clip: content-box;
    overflow: hidden;
}
.progress {
    height: 20px;
    background: $red;
}

.button {
    text-align: center;
    a {
        display: inline-block;
        @include background-image(linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%));
        padding: .3em 1em;
        border: 1px solid shade(#f6f8f9, 20);
    }
}
