@import "compass/css3";

#spinner {
  background: $darkGreyAlpha;
  border-radius: 10px;
  color: white;
  display: none;
  left: 50%;
  margin: 30px 0 0 -200px;
  position: absolute;
  padding: 50px;
  text-align: center;
  width: 300px;
}
label,
input {
    display: block;
    margin: 10px 0;
}
input {
    @include border-radius(3px);
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
}
.step {
    background: #fff;
    border: 1px solid #ccc;
    margin-top: 2em;
    padding: 0 2% 1em;
}
textarea {
    width: 100%;
}