<html>
    <head>
        <meta charset="utf-8">
        <title>Widget the People</title>
        <meta name="viewport" content="width=device-width">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" >
        
        <link rel="stylesheet" href="/css/{{ stylesheet }}.css">
        {{#if google_analytics_id}}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{google_analytics_id}}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        {{/if}}
    </head>
    <body>
        <div id="wrapper">
        {{{body}}}
        </div> <!-- /#wrapper -->
        

        {{#if pageType}}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        {{^if production}}
        <script src="/js/vendor/underscore.js"></script>
        <script src="/js/vendor/bootstrap-typeahead.js"></script>
        <script src="/js/{{pageType}}.js"></script>
        {{/if}}
        {{#if production}}
        <script src="/js/lib/wtp.min.js"></script>
        <script src="/js/{{pageType}}.min.js"></script>
        {{/if}}

        {{/if}}
    </body>
</html>