<script>
  window.wtp = window.wtp || {};
  window.wtp.APIKEY = "{{ apiKey }}";
</script>
<div id="spinner">
    <p>Loading petitions…</p>
    <img src="img/loader.gif">
</div> <!-- /#spinner -->
<h1>Widget the People</h1>
<p>Create an embeddable widget to promote your petition on <a href="https://petitions.whitehouse.gov/petitions">We the People</a></p>
<section id="step-1" class="step">
<h2>Step 1: Find your petition</h2>
<form id="form-search" method="GET">
    <label>Enter the name of the petition you would like to promote
    <input id="title-search" type="text" value="" autocomplete="off"></label>

</form>
</section>
<section id="step-2" class="step">
    <h2>Step 2: Customize</h2>
    <h3>Select widget theme:</h3>
    <label class="theme-selector"><input type="radio" name="theme" value="" checked="checked"> Default</label>
    <label class="theme-selector"><input type="radio" name="theme" value="vine"> Green Vine</label>
    <label class="theme-selector"><input type="radio" name="theme" value="forest"> Forest</label>
</section> <!-- /#step-2.step -->

<section id="step-3" class="step">
    <h2>Step 3: Get the code</h2>
    <button class="button" id="search">Get widget</button>
    <p>Copy the iframe code below and paste it into your website.</p>
    <textarea id="generated-widget" readonly></textarea>
</section> <!-- /#step-3.step -->
<section id="step-3" class="step">
    <h2>Step 4: Preview</h2>
    <div id="preview-inner"></div>
</section> <!-- /#step-4.step -->

