
<h1>{{ title }}</h1>

{{#if active}}
<p id="signature-needed">Signatures needed: <span id="signature-needed-number">{{ signatures.needed }}</span></p>
<p id="deadline">Deadline: {{ deadline }}</p>
<p id="petition-url"><a href="{{ url }}" target="_blank">Sign the petition</a></p>
{{/if}}

{{^if active}}
<p id="deadline">This petition's deadline has passed.</p>
{{/if}}

{{#if response}}
<p id="response"><a href="{{response}}" target="_blank">Read the official White House response.</a></p>
{{/if}}

<div class="thermometer-wrap">
  <p id="signature-count" style="{{ mercuryLabel }};"><span id="signature-count-number">{{ signatures.count }}</span> signatures</p>
  

  
    <div class="thermometer">
        <div class="progress" style="width: {{ mercury }}%;"></div>
    </div>
    <p id="signature-threshold">Goal: <span id="signature-threshold-number">{{ signatures.threshold }}</span></p>
    
</div>
